.currentweather {
    background-color: #f1f1f1;
    padding: 20px;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
}

.Heading {
    text-align: left;
    font-size: 9px;
}

.time {
    font-size: 50px;
}

.Heading p {
    font-size: 20px;
    margin: -2px;
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.details-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.condition {
    align-self: flex-start;
}

.more-details {
    align-self: flex-end;
}


/* Additional styling rules can be added as per your design requirements */