.weatherBg {
    background: url("https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80");
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-image-repeat: none;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    color: white;
    font-size: 40px;
}

.weatherResultBox {
    margin: auto;
    width: 500px;
    height: 300px;
}

.weatherIcon {
    margin-top: 2px;
    width: 100px;
    height: 100px;
}

.weatherCity {
    font-size: 35px;
}

.weatherTemp {
    font-size: 55px;
    font-weight: 700;
}